version: '3.9'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: dashboard-backend
    restart: unless-stopped
    expose:
      - "8080"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard-backend.rule=Host(`votre-domaine.com`) && PathPrefix(`/api`)"
      - "traefik.http.services.dashboard-backend.loadbalancer.server.port=8080"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.front
      target: runner
    container_name: dashboard-frontend
    restart: unless-stopped
    expose:
      - "3000"
    depends_on:
      - backend