version: '3.9'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: dashboard-backend
    restart: unless-stopped
    expose:
      - "8080"
    networks:
      - dashboard-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.front
      target: runner
    container_name: dashboard-frontend
    restart: unless-stopped
    expose:
      - "3000"
    depends_on:
      - backend
    networks:
      - dashboard-network
    environment:
      - NEXT_PUBLIC_BACKEND_URL=http://backend:8080

networks:
  dashboard-network:
    driver: bridge